#global {
    background-image: url("img/bg.png");
}

#global.bg2 {
	background-image: url("img/bg2.png");
}

.btn-pop1 {
	position: absolute;
	top: 79%;
	left: 15%;
	width: 15%;
	height: 9%;
}

.btn-bg {
	position: absolute;
	top: 66%;
	left: 42%;
	width: 15%;
	height: 21%;
}

.btn-bg2 {
	position: absolute;
	top: 66%;
	left: 62%;
	width: 15%;
	height: 21%;
}