/*
 * Edetailings Library v 0.2.3 for Veeva CLM presentations - BCNscience
 * Author: Ruth CJ
 * */

/********************************************
********** RESETS ***************************
*********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
sub, sup {
    margin: 0;
    padding: 0;
    border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {     font-weight: normal;}


/***--- iPad resets ---***/

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

div, span, a {    -webkit-tap-highlight-color: rgba(0,0,0,0);  }


/********************************************
********** ESTILS BASE **********************
*********************************************/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#global{
    position: absolute;
    overflow: hidden;
    width: 1024px;
    height: 768px;
}

#global.retina {
    width: 2048px;
    height: 1536px;
}

/**** IC ******/

.ic {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.retina .ic {
    width: 80px;
    height: 80px;
}

/***** MAIN MENU ********/

#mainmenu {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 130px;
    z-index: 20;
}

.retina #mainmenu{
    width: 260px;
}

#mainmenu ul li {
    position: relative;
}

#mainmenu ul li > span {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
}

#mainmenu ul.nivel-1 li > span {
    -webkit-justify-content: center; /* Safari 6.1+ */
    justify-content: center;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;
}

#mainmenu ul.nivel-2,
#mainmenu ul.nivel-3 {
    display: none;
}

#mainmenu ul.nivel-2,
#mainmenu ul.nivel-3 {
    position: absolute;
    top:0;
    left: -200px;
    width: 200px;
}

.retina #mainmenu ul.nivel-2,
.retina #mainmenu ul.nivel-3{
    left: -400px;
    width: 400px;
}

/****** navegació boletes *****/

.zona-nav-boletes  {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center; /* Safari 6.1+ */
    justify-content: center;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;
}




.boleta {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: red;
    margin: 10px;
}




/** --- Popups Interns --- **/

.popup {
    position: absolute;
    overflow: hidden;
    width: 1872px;
    height: 1315px;
}

.retina .popup {
    width: 2048px;
    height: 1536px;
}

.popup-slide-right,
.popup-slide-left,
.popup-slide-bottom,
.popup-slide-top,
.popup-none {
    z-index: 50;
}

.popup-slide-right,
.popup-slide-left,
.popup-fade,
.popup-none {
    top: 125px;
}

.retina .popup-slide-right,
.retina .popup-slide-left,
.retina .popup-fade,
.retina .popup-none {
    top: 250px;
}

.popup-slide-bottom,
.popup-slide-top,
.popup-fade,
.popup-none {
    left: 15px;
}

.retina .popup-slide-bottom,
.retina .popup-slide-top,
.retina .popup-fade,
.retina .popup-none {
    left: 30px;
}

.popup-slide-right {    left: -1024px;}
.popup-slide-left {     right: -1024px;}
.popup-slide-bottom {   top: -768px;}
.popup-slide-top {      bottom: -768px;}


.retina .popup-slide-right {    left: -2048px;}
.retina  .popup-slide-left {     right: -2048px;}
.retina  .popup-slide-bottom {   top: -1536px;}
.retina  .popup-slide-top {      bottom: -1536px;}


.popup-fade {
    z-index: -50;
    opacity: 0;
}

.popup-none {    display: none;}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -199;
    opacity: 0;
    background-color: black;
}


/*** --- Animacions --- ***/


/*** Anim apareix d'esquerra a dreta ***/
.lefttoright{
    animation: lefttoright 1s linear;
    -webkit-animation: lefttoright 1s linear;
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
}
/*** Anim apareix de dreta a esquerra ***/
.righttoleft{
    animation: righttoleft 1s linear;
    -webkit-animation: righttoleft 1s linear;
    transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -webkit-transform-origin: 100% 0%;
}
/*** Anim apareix de dalt a baix ***/
.uptodown{
    animation: uptodown 1s linear;
    -webkit-animation: uptodown 1s linear;
    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
}
/*** Anim apareix d'abaix a dalt ***/
.downtoup{
    animation: downtoup 1s linear;
    -webkit-animation: downtoup 1s linear;
    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
}
/*** Anim fade-in ***/
.fadein{
    animation: fadein 1s forwards linear;
    -webkit-animation: fadein 1s forwards linear;
}
/*** Anim fade-out ***/
.fadeout{
    animation: fadeout 1s forwards linear;
    -webkit-animation: fadeout 1s forwards linear;
}

/*** Clickme ***/
.clickme{
    animation: clickme 1s linear;
    -webkit-animation: clickme 1s linear;
}
/*** Flotar ***/
.flotar{
    animation: flotar 1s linear;
    -webkit-animation: flotar 1s linear;
}
/*** Sacudir ***/
.sacudir {
    animation: sacudir  1s linear;
    -webkit-animation: sacudir  1s linear;
}

/****** ajustos de temps de les animacions ****/

.lefttoright.ani-2s,
.righttoleft.ani-2s,
.uptodown.ani-2s,
.downtoup.ani-2s,
.fadein.ani-2s,
.fadeout.ani-2s,
.clickme.ani-2s,
.flotar.ani-2s,
.sacudir.ani-2s{
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}

.lefttoright.ani-3s,
.righttoleft.ani-3s,
.uptodown.ani-3s,
.downtoup.ani-3s,
.fadein.ani-3s,
.fadeout.ani-3s,
.clickme.ani-3s,
.flotar.ani-3s,
.sacudir.ani-3s {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
}

.lefttoright.ani-4s,
.righttoleft.ani-4s,
.uptodown.ani-4s,
.downtoup.ani-4s,
.fadein.ani-4s,
.fadeout.ani-4s,
.clickme.ani-4s,
.flotar.ani-4s,
.sacudir.ani-4s {
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
}

.lefttoright.infinite,
.righttoleft.infinite,
.uptodown.infinite,
.downtoup.infinite,
.clickme.infinite,
.flotar.infinite,
.sacudir.infinite{
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

/**** keyframes animacions *****/
@keyframes lefttoright {
    from { transform: scaleX(0);}
    to { transform: scaleX(1);}
}

@-webkit-keyframes lefttoright {
    from { -webkit-transform: scaleX(0);}
    to { -webkit-transform: scaleX(1);}
}

@keyframes righttoleft {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
}

@-webkit-keyframes righttoleft {
    from { -webkit-transform: scaleX(0); }
    to { -webkit-transform: scaleX(1); }
}

@keyframes uptodown {
    from { transform: scaleY(0); }
    to { transform: scaleY(1); }
}

@-webkit-keyframes uptodown {
    from { -webkit-transform: scaleY(0); }
    to { -webkit-transform: scaleY(1); }
}

@keyframes downtoup {
    from { transform: scaleY(0); }
    to { transform: scaleY(1); }
}

@-webkit-keyframes downtoup {
    from { -webkit-transform: scaleY(0); }
    to { -webkit-transform: scaleY(1); }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}


@keyframes clickme {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

@-webkit-keyframes clickme {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
}

@keyframes flotar {
    0% {	transform: translateY(0%);}
    50% {	transform: translateY(8%);}
    100% {	transform: translateY(0%);}
}

@-webkit-keyframes flotar {
    0% {    -webkit-transform: translateY(0%);}
    50% {	-webkit-transform: translateY(8%);}
    100% {	-webkit-transform: translateY(0%);}
}

@keyframes sacudir  {
    0% {    transform: rotate(-4deg);}
    50% {   transform: rotate(4deg);}
    100% {  transform: rotate(-4deg);}
}

@-webkit-keyframes sacudir  {
    0% {		-webkit-transform: rotate(-4deg);}
    50% {		-webkit-transform: rotate(4deg);}
    100% {		-webkit-transform: rotate(-4deg);}
}