#global {
    background-image: url("img/bg.png");
}

.btn-1 {
	position: absolute;
    top: 24%;
    left: 6%;
    width: 38%;
    height: 14%;
}

.btn-2 {
	position: absolute;
	top: 24%;
	left: 45%;
	width: 38%;
	height: 14%;
}

.btn-3 {
	position: absolute;
	top: 40%;
	left: 6%;
	width: 38%;
	height: 14%;
}

.btn-4 {
	position: absolute;
	top: 40%;
	left: 45%;
	width: 38%;
	height: 14%;
}

.btn-5 {
	position: absolute;
	top: 56%;
	left: 6%;
	width: 38%;
	height: 14%;
}

.btn-6 {
	position: absolute;
	top: 56%;
	left: 45%;
	width: 38%;
	height: 14%;
}

.btn-7 {
	position: absolute;
	top: 72%;
	left: 6%;
	width: 38%;
	height: 14%;
}

.btn-8 {
	position: absolute;
	top: 72%;
	left: 45%;
	width: 38%;
	height: 14%;
}