#global {
    background-image: url("img/bg.png");
}

.link1 {
	position: absolute;
	top: 20%;
	left: 8%;
	width: 24%;
	height: 22%;
}

.link2 {
	position: absolute;
	top: 20%;
	left: 32%;
	width: 24%;
	height: 22%;
}

.link3 {
	position: absolute;
	top: 20%;
	left: 57%;
	width: 24%;
	height: 22%;
}

.link4 {
	position: absolute;
	top: 44%;
	left: 8%;
	width: 24%;
	height: 22%;
}

.link5 {
	position: absolute;
	top: 44%;
	left: 32%;
	width: 24%;
	height: 22%;
}

.link6 {
	position: absolute;
	top: 44%;
	left: 57%;
	width: 24%;
	height: 22%;
}

.link7 {
	position: absolute;
	top: 69%;
	left: 8%;
	width: 24%;
	height: 22%;
}

.link8 {
	position: absolute;
	top: 70%;
	left: 32%;
	width: 24%;
	height: 22%;
}

.link9 {
	position: absolute;
	top: 69%;
	left: 57%;
	width: 24%;
	height: 22%;
}