@charset "UTF-8";

/****************************
          GENERAL
****************************/
.hidden {
  display: none;
}

.overlay.active {
  opacity: 0.6;
}

.disabled {
  opacity: 0.3;
}

#global {
  width: 100%;
  height: 100%;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.logo_farma {
  width: 7%;
  position: absolute;
  right: 4%;
  top: 3.2%;
  background-size: contain;
  background-image: url('img/logo_farma.png');
  background-repeat: no-repeat;
  height: 8%;
}

.logo_prod_1 {
  width: 11.5%;
  height: 6.3%;
  position: absolute;
  right: 2%;
  bottom: 0%;
  background-size: contain;
  background-image: url('img/logo_prod_1.png');
  background-repeat: no-repeat;
}

.popup {
  display: none;
}

#popFT {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url("img/pop_bg.png");
	background-size: 100%;
  }

  .ft_container {
    width: 90%;
    height: 79%;
    position: absolute;
    top: 14%;
    left: 5%;
    overflow-x: scroll;
}

.ft_container img{
	width: 100%;
}

.btn_home {
  position: absolute;
  top: 0%;
  left: 3.8%;
  width: 10%;
  height: 10%;
  z-index: 99999;
}

.btn_ref {
  position: absolute;
  top: 35%;
  left: 0;
  width: 8%;
  height: 10%;
  z-index: 999;
}

.btn1 {
  position: absolute;
  bottom: 76%;
  right: 0;
  width: 16%;
  height: 12%;
  z-index: 10;
}

.btn2 {
  position: absolute;
  bottom: 65%;
  right: 0;
  width: 16.4%;
  height: 11.5%;
  z-index: 10;
}

.btn3 {
  position: absolute;
  bottom: 53.7%;
  right: 0;
  width: 16.4%;
  height: 11.4%;
  z-index: 10;
}

.btn4 {
  position: absolute;
  bottom: 42.3%;
  right: 0;
  width: 16.6%;
  height: 12%;
  z-index: 10;
}

.btn5 {
  position: absolute;
  bottom: 31.3%;
  right: 0;
  width: 16.6%;
  height: 11.2%;
  z-index: 10;
}

.btn6 {
  position: absolute;
  bottom: 20.3%;
  right: 0;
  width: 16.6%;
  height: 11.2%;
  z-index: 10;
}

.btn7 {
  position: absolute;
  bottom: 8.7%;
  right: 0;
  width: 16.6%;
  height: 11.2%;
  z-index: 10;
}

.imgpopup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn-tancar {
  position: absolute;
  top: 5%;
  left: 87%;
  width: 10%;
  height: 10%;
}

.btn-next {
    position: absolute;
    top: 92%;
    left: 50%;
    width: 8%;
    height: 10%;
}

.btn-prev {
    position: absolute;
    top: 92%;
    left: 30%;
    width: 8%;
    height: 10%;
}