#global {
    background-image: url("img/bg.png");
}

.btn_pop1 {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 10%;
	height: 10%;
}

.btn_pop2 {
	position: absolute;
	top: 30%;
	left: 38%;
	width: 10%;
	height: 10%;
}